<footer style="width: 100%;">
    <div class="f-info fixed-bottom" >
        <div class="f-info-socials">
            <!-- <i class="fa-brands fa-square-facebook"></i> -->
            <i title="Linkedin" class="fa-brands fa-linkedin"></i>
            <i title="GitHub" class="fa-brands fa-github"></i>
            <i title="Medium" class="fa-brands fa-medium"></i>
            <i title="Contact Me" class="fas fa-envelope"></i>
            <!-- <i class="fa-brands fa-square-instagram"></i> -->
            <i title="About Me" class="fas fa-address-card"></i>
            <i title="Leetcode" class="fa fa-code"></i>
            <!-- <i class="fa fa-code"></i> -->
            <i title="Resume" class="fas fa-file"></i>
            <i title="YouTube" class="fa-brands fa-youtube"></i>
        </div>
        <!-- <div><b>&copy; MRA Private Limited</b></div> -->
        <!-- <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div> -->
    </div>
</footer>